<!DOCTYPE html>
<form action="/output" method="post">
  <label for="phrase">Enter the phrase you would like to code: </label>
  <input id="phrase" type="text" name="phrase">
  <button type="submit" name="button">See your coded message</button>
</form>
